// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fa-solid';
@import '~@fortawesome/fontawesome-free/scss/fa-regular';
@import '~@fortawesome/fontawesome-free/scss/fa-brands';


//Admin LTE
@import '~admin-lte/build/scss/AdminLTE';
